{% extends 'bases/base.html' %}

{% block header %}
  <h1>{% block title %}Logga in{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="loginwrapper">
    <img src="{{ url_for('static', filename='vg.jpg')}}" alt="a welcoming picture" class="loginimg">
    <form method="post" class="loginform">
      <input type="text" name="username" placeholder="Användarnamn">
      <input type="password" name="password" placeholder="Lösenord">
      <input type="submit" value="Log In" class="loginsubmit">
    </form>
  </div>
{% endblock %}