{% extends 'bases/base.html' %}

{% block header %}
  <h1>{% block title %}Sök{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class=searchForm>
        <form action="" method="post">
            <label for="idnr">key_id:</label>
            <input type="text" name="key_id" id="idnr">

            <label for="gender">Kön:</label>
            <input type="text" name="gender" id="gender">

            <label for="name">Namn:</label>
            <input type="text" name="name" id="name">

            <label for="weight">Vikt:</label>
            <input type="text" name="weight" id="weight">

            <label for="age">Ålder:</label>
            <input type="text" name="age" id="age">

            <label for="idnr">Rökare:</label>
            <label for="nicotineTrue">Ja:</label>
            <input type="checkbox" name="nicotine" id="nicotineTrue">

            <input type="submit" value="Submit">
        </form>
    </div>

  {%if g.isResString %}
    <span>{{ result }}</span>
  {% elif result %}
    {%for res in result %}
        <div class="resbox">
            <span>{{ res }}</span>
        </div>
    {% endfor %}
  {% endif %}
{% endblock %}
