<!doctype html>
<title>Sökbar databas för Sahlgrenska</title>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!--link rel="stylesheet" href="C:\Users\julia\OneDrive\Dokument\Chalmers\Kurser\Agile\madonna\flask\flaskr\static\style.css">-->
</head>

<body>

  <div class="topnav">
    <div class="imagediv">
       <a class="navbar-brand" href="/">
          <img class="image" src="static\vg.jpg">
       </a>
   </div>
    <div class="navitems">
      <a class="active" href="{{ url_for('blog.home') }}">Hem</a>
      <a href="{{ url_for('blog.search') }}">Sök</a>
      <a href="{{ url_for('blog.studies') }}">Studier</a>
    </div>
  </div>

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    <p>
      {% block content %}{% endblock %}
    </p>
  </section>
  
</body>

</html>