<!doctype html>
<title>Sökbar databas för Sahlgrenska</title>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='vgreg.jpg') }}">
  <!--link rel="stylesheet" href="C:\Users\julia\OneDrive\Dokument\Chalmers\Kurser\Agile\madonna\flask\flaskr\static\style.css">-->
</head>

<body>

  <div class="topnav">
    <div class="imagediv">
       <a class="navbar-brand" href="/">
          <img class="image" src="static\vg.jpg">
       </a>
   </div>
    <div class="navitems">
      <a class="active" href="#home">Hem</a>
      <a href="#search">Sök</a>
      <a href="#studies">Studier</a>
    </div>
  </div>
  
 {% block content %} {% endblock %}

</body>

</html>