{% extends 'bases/base.html' %}

{% block topnav %}
    <div class="shadow">{{ super() }}</div>
    <div class="box stack-top">
        <a class="exit" href="{{ url_for('search.index') }}">
            <img class="image" src="{{url_for('static', filename='close.png')}}">
        </a>
        <div class="patient-view">
            <div class="patient-info">
                <div class="patient-infobox">
                    <h2>Redigera patientinfo</h2>
                </div>
                <form method="POST">
                {% for i in patientColNames %}
                    {% if patientColNames[loop.index0] == "Key-ID" %}
                        <label class="editPatientForm">{{patientColNames[loop.index0]}}:</label>
                        <input type="text" class="patient-value" name="{{formColNames[loop.index0]}}" value="{{result[loop.index0]}}" readonly>

                    {% elif patientColNames[loop.index0] == "Kön" %}
                        <label class="editPatientForm">{{patientColNames[loop.index0]}}:</label>
                        <select name="gender" id="genderSelect">
                            <option value="Male">Man</option>
                            <option value="Female">Kvinna</option>
                        </select>

                    {% elif patientColNames[loop.index0] == "Avliden" %}
                        <label class="editPatientForm">{{patientColNames[loop.index0]}}:</label>
                        <select name="deceased" id="deceasedSelect">
                            <option value="True">Ja</option>
                            <option value="False">Nej</option>
                        </select>

                    {% elif patientColNames[loop.index0] == "Ålder"%}
                        <label class="editPatientForm">{{patientColNames[loop.index0]}}:</label>
                        <input type="number" class="patient-value" name="{{formColNames[loop.index0]}}" value="{{result[loop.index0]}}">

                    {% elif patientColNames[loop.index0] == "Vikt" or patientColNames[loop.index0] == "BMI"%}
                        <label class="editPatientForm">{{patientColNames[loop.index0]}}:</label>
                        <input type="number" step="0.1" class="patient-value" name="{{formColNames[loop.index0]}}" value="{{result[loop.index0]}}">

                    {% else %}
                        <label class="editPatientForm">{{patientColNames[loop.index0]}}:</label>
                        <input type="text" class="patient-value" name="{{formColNames[loop.index0]}}" value="{{result[loop.index0]}}">
                    {% endif %}

                {% endfor %}
                <input type="submit" value="Spara">
                </form>
            </div>
        </div>

    </div>
{% endblock %}
