{% extends 'bases/base.html' %}

{% block topnav %}
    <div class="shadow">{{ super() }}</div>
    <div class="box stack-top">
        <div class="patient-view">
            <div class="patient-info">
                <div class="patient-header">
                    <h2>Redigera patientinfo</h2>
                </div>
                
                <div class="patient-header">
                <form method="POST">
                {% for i in patientColNames %}
                    <label class="editPatientForm">{{patientColNames[loop.index0]}}:</label>
                    <input type="text" class="patient-value" name="{{formColNames[loop.index0]}}" value="{{result[loop.index0]}}">
                {% endfor %}
                <input type="submit" value="Spara">
                
                </form>
                </div>

                <a class="exit" href="{{ url_for('search.index') }}">
                    <img class="image" src="{{url_for('static', filename='close.png')}}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
