{% extends 'bases/base.html' %}

{% block topnav %}
    <div class="shadow">{{ super() }}</div>
    <div class="box stack-top">
        <div class="patient-view">
            <div class="patient-row">
                <div class="patient-info">
                    <div class="patient-header">
                        <h2>Patientinfo</h2>
                        <a class="editBtn" href="{{url_for('patient.editPatient', key_id=result[0])}}">Redigera: ✏️</a>
                    </div>
                    {% for i in patientColNames %}
                        <div class="patient-infobox">
                            <span class="patient-criteria">{{patientColNames[loop.index0]}}:</span>
                            {{render_crit(result[loop.index0])}}
                        </div>
                    {% endfor %}
                </div>

                <div class="patient-info">
                    <div class="patient-header"><h2>Cases</h2></div>
                    {% if cases_inf[0] != None %}
                        {% for i in cases_inf %}
                            <div class="patient-infobox">
                                <span class="patient-criteria">{{casesColNames[loop.index0]}}:</span>
                                {{render_crit(result[12 + loop.index0])}}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="patient-infobox">Patienten ingår ej i något case</div>
                    {% endif %}
                </div>
                <button  onclick="history.back()">
                    <img width="30" height="30" src="{{url_for('static', filename='back-arrow.png')}}">
                </button>
            </div>

            <div class="patient-row">
                <div class="patient-info">
                    <div class="patient-header"><h2>Studier</h2></div>
                    {% for i in study %}
                        <div class="patient-infobox">
                            <span class="patient-criteria">{{study_col_names[loop.index0]}}:</span>
                            {{render_crit(study[loop.index0])}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro render_crit(criteria) %}
    {% if criteria == true and criteria is not integer %}
         <span class="patient-value"> Ja </span> 
    {% elif criteria == false%}
         <span class="patient-value"> Nej </span> 
    {% else %}
         <span class="patient-value"> {{ criteria }}</span> 
    {% endif %}
{% endmacro %}