html {
    font-family: kansei-optei;
    /* background: rgb(109, 158, 117); */
    /* padding: 1rem; */
  }
  
  body {
    /* max-width: 1850px; */
    margin: 0 auto;
    background-color: rgb(164, 204, 171);
  
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #000000;
    margin: 1rem 10;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }

  div.navitems > a {
    margin-left: 50px;
    font-size: 1.2rem;

  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header.action {
    display: block;
    padding: 0.5rem;
  }

  div.imagediv {
    width: 250px;
  }

  img.image {
    width: inherit;
  }

  a.navbar-brand {
    width: inherit;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
 
  .topnav {
    margin-bottom: 4rem;
    /* padding: 10px; */
    background-color: #ffffff;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    padding-right: 300px;
    
  
  } 

  div.navitems {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


  }

  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    min-width: 10em;
  }

.loginwrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45vh;
  width: 90%;
  max-width: 600px;
  border-radius: 5px;
  background-color: #ffffff;
  
}

.loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.loginimg {
  width: 90%;
  max-width: 400px;
}

.loginsubmit {
  align-self: flex-end;
  margin: 2rem;
  background: #0034CC;
  border: 0.1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 2.5rem;
  color: #fff;
  font-weight: 700;
}