{% extends 'bases/base.html' %}

{% block header %}
  <h1>{% block title %}Studier{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="grid-container">
  <div class="grid-item"> Studie 1 <a class="grid-items-a1"> Keywords: Bröstrek, höger, rökare </a> {%for res in result %} <a class="grid-items-a2">  {{res.name}} : {{res.progress}} </a>  {%endfor%} </div>
     <div class="grid-item"> Studie 2 <a class="grid-items-a1"> Keywords: Återbesök, njursvikt, komplikation </a>  {%for res in result2 %} <a class="grid-items-a2">  {{res.name}} : {{res.progress}} </a>  {%endfor%} </div>
</div>


{% endblock %}

