{% extends 'bases/base.html' %}

{% block header %}
  <h1>{% block title %}Studier{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="grid-container">
  <div class="grid-item">  Studie 1
     <div class="rubric-study" ><a class="grid-items-a1"> Keywords: Bröstrek, höger, rökare </a> <a href="{{ url_for('studies.studyInfo') }}"> Detaljer</a> </div>
  </div>
     <div class="grid-item"> Studie 2 
      <div class="rubric-study" ><a class="grid-items-a1"> Keywords: Bröstrek, vänster, icke-rökare </a> <a href="{{ url_for('studies.studyInfo2') }}"> Detaljer</a> </div>
     </div>
</div>


{% endblock %}

